SECRET_KEY=REPLACE_WITH_python3_-c_import_secrets_print_secrets_token_urlsafe_60

DEBUG=False
USE_HTTPS=True

ALLOWED_HOSTS=dcpmind.com,www.dcpmind.com,nginx,web
CSRF_TRUSTED_ORIGINS=https://dcpmind.com,https://www.dcpmind.com

HTTP_PORT=80

POSTGRES_DB=ntarque
POSTGRES_USER=ntarque
POSTGRES_PASSWORD=REPLACE_STRONG_PASSWORD_ALNUM_ONLY

TIME_ZONE=Asia/Kolkata

GUNICORN_WORKERS=2

TASK_ENCRYPTION_KEY=
